<div class="section-wrapper portfolio-wrapper">
  <div class="custom-container">
    <h2 class="section-heading" id="portfolio">Portfolio</h2>
  </div>
  <div class="bg-tertiary">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="custom-container portfolio-slides">
            <div class="row">
              <div class="col-md-6 mb-5 mb-md-0">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <img class="d-block portfolio-image" src="assets/images/servicing@2x.png" alt="First slide">
                </div>
              </div>
              <div class="col-md-5 offset-md-1">
                <div class="d-flex align-items-center h-100">
                  <div>
                    <h3>Servicing Web App</h3>
                    <p>
                      Worked on developing web pages for a Loan Servicing Web application. This web app had to be completely
                      responsive, accessible and private label ready.
                    </p>
                    <p>
                      SCSS was used to create private labelling framework.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="custom-container portfolio-slides">
            <div class="row">
              <div class="col-md-6 mb-5 mb-md-0">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <img class="d-block portfolio-image" src="assets/images/design-system@2x.png" alt="First slide">
                </div>
              </div>
              <div class="col-md-5 offset-md-1">
                <div class="d-flex align-items-center h-100">
                  <div>
                    <h3>EXOS Design System</h3>
                    <p>
                      Served the role of a Technical Product Manager for EXOS Design System. Developed web pages, assigned work and overlooked releases.
                    </p>
                    <p>
                      Design System is a live documentation of designing and developing standards. Specs and code snippets are available in ready to use format. In addition, to the documentation it also offers private npm packages.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="custom-container portfolio-slides">
            <div class="row">
              <div class="col-md-7 mb-5 mb-md-0">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <img class="d-block portfolio-image" src="assets/images/exos-suite@2x.png" alt="First slide">
                </div>
              </div>
              <div class="col-md-5">
                <div class="d-flex align-items-center h-100">
                  <div>
                    <h3>EXOS Valuation</h3>
                    <p>
                      Designed and developed pixel perfect responsive B2B and B2C facing applications under the EXOS suite.
                    </p>
                    <p>
                      B2B application include internal and external work flow management solutions. These applications include Appraiser App. This app is used by Appraisers to schedule and manage their orders.
                    </p>
                    <p>
                      B2C application like the Consumer App is a hybrid application. Currently, live on Google and App Store.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
