<div class="custom-container welcome-wrapper">
  <div class="row">
    <div class="col-lg-6">
      <h1>
        Hello, my name is Bhushan. I’m a <span class="css-typing">UI Developer</span>.
      </h1>
      <p class="sub-text">Building meaningful User Experiences, one
        at a time.</p>
    </div>
    <div class="col-lg-6">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <img class="d-block welcome-image" src="assets/images/welcome-banner.svg" alt="">
      </div>
    </div>
  </div>
</div>
