<footer>
  <div class="section-footer bg-tertiary">
    <div class="container-footer">
      <div class="position-relative">
        <div class="card footer-card">
          <img class="footer-image" src="assets/images/footer-person.svg" alt="">
          <div class="card-body">
            <h2 class="section-heading" id="contact">Get in touch</h2>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <div class="icon-wrapper">
                  <span class="icon-email" aria-hidden="true"></span>
                </div>
                <a class="text-break" href="mailto:bhushan.gandla@outlook.com" target="_blank">bhushan.gandla@outlook.com</a>
              </li>
              <li>
                <div class="icon-wrapper">
                  <span class="icon-call" aria-hidden="true"></span>
                </div>
                <a href="tel:+13016425234">(301) - 642 - 5234</a>
              </li>
            </ul>
          </div>
        </div>
        <nav class="links-out-wrapper">
          <ul class="list-unstyled mb-4">
            <li>
              <a class="btn link-item" target="_blank" aria-label="Linkedin" href="https://www.linkedin.com/in/bhushan-gandla-576195193/">
                <span class="icon-linkedin" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a class="btn link-item" target="_blank" aria-label="Git hub" href="https://github.com/bhushan-gandla">
                <span class="icon-git-hub" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a class="btn link-item" target="_blank" aria-label="Facebook" href="https://www.facebook.com/bushan.king/">
                <span class="icon-facebook" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a class="btn link-item" target="_blank" aria-label="Instagram" href="https://www.instagram.com/bushanking/">
                <span class="icon-instagram" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
        <p class="text-center">
          Made with 💙
        </p>
      </div>
    </div>
  </div>
</footer>
