@import "src/scss/component-imports";

.icon-wrapper{
  width: pxToRem(99);
  height: pxToRem(99);
  border-radius: 50%;
  margin-bottom: pxToRem(30);
  background-color: $light-highlight;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: pxToRem(36);
}
h3{
  font-size: pxToRem(16);
  margin-bottom: pxToRem(15);
  font-weight: 700;
}
