<div class="custom-container section-wrapper">
  <h2 class="section-heading" id="skills">Skills</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-3 mb-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-wrapper">
            <span class="icon-design" aria-hidden="true"></span>
          </div>
          <h3>UI Design</h3>
          <p class="mb-0">
            UI Design is not just making things
            pretty. I strongly believe in creating
            useful experiences. I am proficient with
            responsive web design and I use XD,
            Illustrator, Photoshop and Zeplin.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3 mb-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-wrapper">
            <span class="icon-devices" aria-hidden="true"></span>
          </div>
          <h3>Responsive Web app</h3>
          <p class="mb-0">
            A responsive web app would adjust itself
            to any viewport. I use media
            queries, latest Bootstrap framework and
            Flex CSS to achieve responsiveness.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3 mb-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-wrapper">
            <span class="icon-mobile" aria-hidden="true"></span>
          </div>
          <h3>Mobile first Approach</h3>
          <p class="mb-0">
            Mobile first approach is process where a
            mobile screen is built first and higher
            resolution are build consequently. I
            incorporate mobile first approach while
            designing and developing.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3 mb-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-wrapper">
            <span class="icon-accessibility" aria-hidden="true"></span>
          </div>
          <h3>Accessibility</h3>
          <p class="mb-0">
            We are all different, but we are all human, and therefore have the same human rights. Hence accessibility is
            an
            important aspect to consider while building web apps. I have solid understanding of WCAG 2.1, ADA and
            Section 508
            guidelines.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3 mb-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-wrapper">
            <span class="icon-sass" aria-hidden="true"></span>
          </div>
          <h3>SCSS</h3>
          <p class="mb-0">
            CSS pre-processors like SCSS helps write clean and modular code. It plays a huge role in creating
            consistency. I use
            lot of goodness SCSS offers like variables, mixins and functions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3 mb-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-wrapper">
            <span class="icon-bootstrap" aria-hidden="true"></span>
          </div>
          <h3>Bootstrap</h3>
          <p class="mb-0">
            Bootstrap is one of the most famous CSS framework. I have been using Bootstrap since version 3 and I am
            proficient in Bootstrap 4.

            Moreover, I rely heavily on variables to customize and create Bootstrap 4 themes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
