<div class="custom-container section-wrapper">
  <h2 class="section-heading" id="experience">Experience</h2>
  <div class="pt-5">
    <ul class="experience-list list-unstyled">
      <li>
        <h3 class="time text-secondary mt-1 mb-0">Aug 2019 - Present</h3>
        <div class="border-bottom flex-grow-1 pb-3">
          <div class="d-md-flex align-items-center mb-2">
            <div class="company mr-2">
              ServiceLink
            </div>
            <div class="location text-secondary">
              Pittsburgh, PA.
            </div>
          </div>
          <div>
            Front End Engineer
          </div>
        </div>
      </li>
      <li>
        <h3 class="time text-secondary mt-1 mb-0 pt-3">Dec 2015 - Aug 2019</h3>
        <div class="border-bottom flex-grow-1 py-3">
          <div class="d-md-flex align-items-center mb-2">
            <div class="company mr-2">
              Technumen Inc
            </div>
            <div class="location text-secondary">
              Piscataway, NJ.
            </div>
          </div>
          <div>
            UI Developer
          </div>
        </div>
      </li>
      <li>
        <h3 class="time text-secondary mt-1 mb-0 pt-3">Sept 2014 - Present</h3>
        <div class="flex-grow-1 pt-3">
          <div class="d-md-flex align-items-center mb-2">
            <div class="company mr-2">
              Freelancer
            </div>
          </div>
          <div>
            Hybrid Developer
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
